.album-container{
    margin-top:60px;
    width:1000%;
    position:absolute;
    left:0;
    transition-duration: 0.5s;
}

.album{
    width:336px;
    float:left;
    img{
        max-width:100%;
        margin-bottom:-3px;
    }
}

.album:hover{
    cursor: pointer;
}

.album-info{
    font-family: azo-sans-web, sans-serif;
    font-weight:400;
    font-style: normal;
    padding-bottom:30px;
    color:white;
    h2{
        display:none;
    }
    background-color:black;
    i{
        font-size:50px; 
        margin:0px 20px;
    }
}

@keyframes slideRight{
    0%{
        opacity:1;
        margin-left:20px;
        margin-right:20px;
    }
    100%{
        opacity:0;
        margin-left:0px;
        margin-right:-40px;
    }
}

@keyframes slideLeft{
    0%{
        opacity:1;
        margin-left:20px;
        margin-right:20px;
    }
    100%{
        opacity:0;
        margin-left:-40px;
        margin-right:0px;
    }
}

.slideRight{
    animation-name: slideRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.slideLeft{
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.switch-arrows{
    font-size:50px;
    margin:0 auto;
    i{
        margin:10px 20px;
    }
}
