h1{
    margin-top:150px;
    font-size:70px;
    font-family: azo-sans-web, sans-serif;
    filter: invert(1);
    font-weight:700;
    font-style: normal;
}

input{
    border:none;
    border-bottom:3px solid black;
    width:450px;
    font-size:50px;
    font-family: azo-sans-web, sans-serif;
    background:rgba(0,0,0,0);
    filter: invert(1);
    font-weight:700;
    font-style: normal;
}
input:focus{
    outline:0;
}

.search-button{
    width:150px;
    position: relative;
    height:100px;
    margin-left: 30px;
    border: none;
    font-size: 28px;
    font-family: azo-sans-web, sans-serif;
    font-weight:400;
    font-style: normal;
    overflow: hidden;
    float:right;
    right:500px;
    filter: invert(1);
    p{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .top{
        width:100%;
        position: absolute;
        top:0;
        height:4px;
        filter: invert(1);
        left:100%;
        transition-duration: 0.2s;
    }
    .left{
        position: absolute;
        left:0;
        height:100%;
        width:4px;
        filter: invert(1);
        top:-100%;
        transition-duration: 0.2s;
    }
    .right{
        position: absolute;
        right:0;
        height:100%;
        width:4px;
        filter: invert(1);
        bottom:-100%;
        transition-duration: 0.2s;
    }
    .bottom{
        position: absolute;
        bottom:0px;
        width:100%;
        height:4px;
        filter: invert(1);
        left:-100%;
        transition-duration: 0.2s;
    }
    margin-bottom:20px;
}

.search-button:hover{
    .top{
        filter: invert(1);
        left:0%;
    }
    .left{
        filter: invert(1);
        top:0%;
    }
    .right{
        filter: invert(1);
        bottom:0%;
    }
    .bottom{
        filter: invert(1);
        left:0%;
    }
}

.search-button:hover{
    cursor:pointer;
}

button:hover{
    cursor: pointer;
}

button:focus{
    outline:0;
}

